{% extends 'base.html' %}
{% block extraheader %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/django-validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/login.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/register.js"></script>
{% endblock %}
{% block content %}
    <div id="login-div" >
       <form action="{% url account.views.login %}" method="POST" id="login-form">{% csrf_token %}
            <div id="general" class="error"></div>
            <li><label for="username" class="label">username:</label></li>
            <li><input type="text" id="username" name="username" class="input"/></li>
            <li><label for="password" class="label">password:</label></li>
            <li><input type="password" id="password" name="password" class="input" /></li>
            <li><input type="submit" value="login" class="submit" /></li>
       </form>
    </div>
    <form action="{% url account.views.register %}" id="sign_up_form" method="POST">
        {% csrf_token %}
        <div id="general" class="error"></div>

        <ul>

            <li><label for="username" class="label">username</label></li>
            <li><input type="text" id="username" name="username" class="input" /></li>
            <li><label for="email" class="label">email</label></li>
            <li><input type="text" id="email" name="email" class="input" /></li>
            <li><label for="password" class="label">password</label></li>
            <li><input type="password" id="password" name="password" class="input" /></li>
            <li><label for="re_password" class="label">re-type password</label></li>
            <li><input type="password" id="re_password" name="re_password" class="input" /></li>
            <li><label for="location" class="label">location</label></li>
            <li><input type="text" id="location" name="location" class="input" /></li>
            <li><input type="submit" value="sign me up!!" class="submit" /></li>

        </ul>

    </form>
{% endblock %}